


<html>
	<head>
		<title>Web-safe Colors</title>
		<script>
			function changeBackground(color)
			{
				maintable = document.getElementById('maintable');
				maintable.style.backgroundColor = color;
			}
		</script>
		
		<style>
			span.button
				{
					background-color: #cccccc;
					cursor: hand;  /* IE */
					cursor: pointer;
				}
		</style>
	</head>
	
	<body>
		Background: <span class="button" onClick="javascript:changeBackground('white');">[White]</span>
			<span class="button" onClick="changeBackground('black');">[Black]</span>
		<table id="maintable">
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">aliceblue</td>
						<td style="background-color: aliceblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">antiquewhite</td>
						<td style="background-color: antiquewhite; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">aqua</td>
						<td style="background-color: aqua; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">aquamarine</td>
						<td style="background-color: aquamarine; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">azure</td>
						<td style="background-color: azure; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">beige</td>
						<td style="background-color: beige; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">bisque</td>
						<td style="background-color: bisque; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">black</td>
						<td style="background-color: black; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">blanchedalmond</td>
						<td style="background-color: blanchedalmond; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">blue</td>
						<td style="background-color: blue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">blueviolet</td>
						<td style="background-color: blueviolet; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">brown</td>
						<td style="background-color: brown; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">burlywood</td>
						<td style="background-color: burlywood; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">cadetblue</td>
						<td style="background-color: cadetblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">chartreuse</td>
						<td style="background-color: chartreuse; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">chocolate</td>
						<td style="background-color: chocolate; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">coral</td>
						<td style="background-color: coral; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">cornflowerblue</td>
						<td style="background-color: cornflowerblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">cornsilk</td>
						<td style="background-color: cornsilk; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">crimson</td>
						<td style="background-color: crimson; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">cyan</td>
						<td style="background-color: cyan; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">darkblue</td>
						<td style="background-color: darkblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">darkcyan</td>
						<td style="background-color: darkcyan; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">darkgoldenrod</td>
						<td style="background-color: darkgoldenrod; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">darkgray</td>
						<td style="background-color: darkgray; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">darkgreen</td>
						<td style="background-color: darkgreen; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">darkkhaki</td>
						<td style="background-color: darkkhaki; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">darkmagenta</td>
						<td style="background-color: darkmagenta; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">darkolivegreen</td>
						<td style="background-color: darkolivegreen; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">darkorange</td>
						<td style="background-color: darkorange; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">darkorchid</td>
						<td style="background-color: darkorchid; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">darkred</td>
						<td style="background-color: darkred; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">darkseagreen</td>
						<td style="background-color: darkseagreen; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">darksalmon</td>
						<td style="background-color: darksalmon; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">darkslateblue</td>
						<td style="background-color: darkslateblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">darkslategray</td>
						<td style="background-color: darkslategray; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">darkturquoise</td>
						<td style="background-color: darkturquoise; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">darkviolet</td>
						<td style="background-color: darkviolet; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">deeppink</td>
						<td style="background-color: deeppink; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">deepskyblue</td>
						<td style="background-color: deepskyblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">dimgray</td>
						<td style="background-color: dimgray; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">dodgerblue</td>
						<td style="background-color: dodgerblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">firebrick</td>
						<td style="background-color: firebrick; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">floralwhite</td>
						<td style="background-color: floralwhite; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">forestgreen</td>
						<td style="background-color: forestgreen; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">fuchsia</td>
						<td style="background-color: fuchsia; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">gainsboro</td>
						<td style="background-color: gainsboro; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">ghostwhite</td>
						<td style="background-color: ghostwhite; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">gold</td>
						<td style="background-color: gold; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">goldenrod</td>
						<td style="background-color: goldenrod; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">gray</td>
						<td style="background-color: gray; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">green</td>
						<td style="background-color: green; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">greenyellow</td>
						<td style="background-color: greenyellow; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">honeydew</td>
						<td style="background-color: honeydew; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">hotpink</td>
						<td style="background-color: hotpink; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">indianred</td>
						<td style="background-color: indianred; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">indigo</td>
						<td style="background-color: indigo; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">ivory</td>
						<td style="background-color: ivory; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">khaki</td>
						<td style="background-color: khaki; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lavender</td>
						<td style="background-color: lavender; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lavenderblush</td>
						<td style="background-color: lavenderblush; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lawngreen</td>
						<td style="background-color: lawngreen; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lemonchiffon</td>
						<td style="background-color: lemonchiffon; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lightblue</td>
						<td style="background-color: lightblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lightcoral</td>
						<td style="background-color: lightcoral; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lightcyan</td>
						<td style="background-color: lightcyan; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lightgoldenrodyellow</td>
						<td style="background-color: lightgoldenrodyellow; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lightgreen</td>
						<td style="background-color: lightgreen; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lightgrey</td>
						<td style="background-color: lightgrey; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lightpink</td>
						<td style="background-color: lightpink; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lightsalmon</td>
						<td style="background-color: lightsalmon; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lightseagreen</td>
						<td style="background-color: lightseagreen; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lightskyblue</td>
						<td style="background-color: lightskyblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lightslategray</td>
						<td style="background-color: lightslategray; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lightsteelblue</td>
						<td style="background-color: lightsteelblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lightyellow</td>
						<td style="background-color: lightyellow; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">lime</td>
						<td style="background-color: lime; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">limegreen</td>
						<td style="background-color: limegreen; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">linen</td>
						<td style="background-color: linen; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">magenta</td>
						<td style="background-color: magenta; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">maroon</td>
						<td style="background-color: maroon; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">mediumaquamarine</td>
						<td style="background-color: mediumaquamarine; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">mediumblue</td>
						<td style="background-color: mediumblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">mediumorchid</td>
						<td style="background-color: mediumorchid; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">mediumpurple</td>
						<td style="background-color: mediumpurple; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">mediumseagreen</td>
						<td style="background-color: mediumseagreen; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">mediumslateblue</td>
						<td style="background-color: mediumslateblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">mediumspringgreen</td>
						<td style="background-color: mediumspringgreen; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">mediumturquoise</td>
						<td style="background-color: mediumturquoise; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">mediumvioletred</td>
						<td style="background-color: mediumvioletred; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">midnightblue</td>
						<td style="background-color: midnightblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">mintcream</td>
						<td style="background-color: mintcream; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">mistyrose</td>
						<td style="background-color: mistyrose; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">moccasin</td>
						<td style="background-color: moccasin; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">navajowhite</td>
						<td style="background-color: navajowhite; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">navy</td>
						<td style="background-color: navy; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">oldlace</td>
						<td style="background-color: oldlace; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">olive</td>
						<td style="background-color: olive; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">olivedrab</td>
						<td style="background-color: olivedrab; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">orange</td>
						<td style="background-color: orange; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">orangered</td>
						<td style="background-color: orangered; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">orchid</td>
						<td style="background-color: orchid; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">palegoldenrod</td>
						<td style="background-color: palegoldenrod; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">palegreen</td>
						<td style="background-color: palegreen; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">paleturquoise</td>
						<td style="background-color: paleturquoise; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">palevioletred</td>
						<td style="background-color: palevioletred; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">papayawhip</td>
						<td style="background-color: papayawhip; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">peachpuff</td>
						<td style="background-color: peachpuff; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">peru</td>
						<td style="background-color: peru; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">pink</td>
						<td style="background-color: pink; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">plum</td>
						<td style="background-color: plum; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">powderblue</td>
						<td style="background-color: powderblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">purple</td>
						<td style="background-color: purple; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">red</td>
						<td style="background-color: red; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">rosybrown</td>
						<td style="background-color: rosybrown; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">royalblue</td>
						<td style="background-color: royalblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">saddlebrown</td>
						<td style="background-color: saddlebrown; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">salmon</td>
						<td style="background-color: salmon; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">sandybrown</td>
						<td style="background-color: sandybrown; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">seagreen</td>
						<td style="background-color: seagreen; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">seashell</td>
						<td style="background-color: seashell; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">sienna</td>
						<td style="background-color: sienna; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">silver</td>
						<td style="background-color: silver; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">skyblue</td>
						<td style="background-color: skyblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">slateblue</td>
						<td style="background-color: slateblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">slategray</td>
						<td style="background-color: slategray; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">snow</td>
						<td style="background-color: snow; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">springgreen</td>
						<td style="background-color: springgreen; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">steelblue</td>
						<td style="background-color: steelblue; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">tan</td>
						<td style="background-color: tan; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">teal</td>
						<td style="background-color: teal; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">thistle</td>
						<td style="background-color: thistle; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">tomato</td>
						<td style="background-color: tomato; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">turquoise</td>
						<td style="background-color: turquoise; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">violet</td>
						<td style="background-color: violet; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">wheat</td>
						<td style="background-color: wheat; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
				<tr>
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">white</td>
						<td style="background-color: white; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">whitesmoke</td>
						<td style="background-color: whitesmoke; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">yellow</td>
						<td style="background-color: yellow; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
			
			<td>
				<table style="border: solid; border-width: 1px">
					<tr>
						<td style="width: 150px;">yellowgreen</td>
						<td style="background-color: yellowgreen; width: 50px;"></td>
					</tr>
				</table>
			</td>
			
		</table>
	</body>
</html>

	
