
{% links = [("Biz Homepage","http://biz.berlios.de"), ("Python Home", "http://www.python.org")] %}
{% modes = [("Home",url_for("welcome")), ("Tutorial",url_for("welcome", "tutorial")), ("Docs",url_for("welcome", "docs"))] %}

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!--    <meta name="Robots" content="index,follow" /> -->
    <title>
      WelcomeBiz
    </title>
    <link rel="stylesheet" type="text/css" href="{=:url_for('welcome', '_files_'):}/style.css" />
  </head>
  <body>
    <div id="head">
		  <div id="title">WelcomeBiz</div>
      <div id="menu">
        <ul>
		{% for mode, href in modes
			{% if pagemode == mode.lower()
				<li class="active">
			%} else {%
				<li>
			%}
					<a href="$href">$mode</a>
				</li>
		%}			
		</ul>
      </div>
    </div>
    <div id="body_wrapper">
      <div id="body">
        <div id="left">
          <div class="top"></div> 
			<div class="content"> 
				<div id="pagetitle">$pagetitle</div><br />
			</div>
          <div class="content">
			{% if pagemode == "home"
				{% body = loadbody("/".join([basepath, "htdocs/welcome/welcome.html"])) %}
			%} else {%
				{% body = loadbody("/".join([basepath, "doc/%s.html" % pagemode])) %}
			%}
  
			$body

          </div>
          <div class="bottom"></div>
        </div>
        <div id="right">
          <div class="top"></div>
          <div class="content">
			<div align="center">
				<img src="{=:url_for('welcome', '_files_'):}/images/bizlogo.png" alt="Biz logo" width="130" />
			</div>
			<hr />
		  
            <h4>Links</h4>
				<ul>
				{% for name, href in links
					<li><a href="$href">$name</a></li>
				%}
				</ul>
				
				<hr />
				<div align="center">
					<a href="http://biz.berlios.de"><img src="{=:url_for('welcome', '_files_'):}/images/bizlogo_sm.gif" alt="Built with BIZ" border="0"></a><br />
				</div>
						
          </div>
          <div class="bottom"></div>
        </div>
        <div class="clearer"></div>
      </div>
      <div class="clearer"></div>
    </div>
    <div id="end_body"></div>
	   <div id="footer">
		  Page design is based on <a href="http://aaron.ganschow.us/">Aaron Ganschow</a>'s open-source work Antique Modern.
		</div>
  </body>
</html>
